//
// Colors
//

// Override Bootstrap color variables

$yellow: #f5e1ce;

// Override Bootstrap state colors variables

$primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
